* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button__posts {
  background-color: #F5BB00;
  border-radius: 1rem;
  font-size: 2rem;
  width: 18rem;
  height: 5rem;
}

.button__posts a,
.button__posts a:link,
.button__posts a:active,
.button__posts a:visited {
  text-decoration: none;
  color: inherit;
}

.button__posts:focus {
  outline: none;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh 0;
  padding: 5vh 10vw;
  width: 100%;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 4.883rem;
  background-color: #C5E7E2;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .jumbotron {
    font-size: 3.662rem;
  }
}

@media (max-width: 600px) {
  .jumbotron {
    padding: 1rem 5vw;
  }
}

.jumbotron__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3vh;
  width: 100%;
  height: 20rem;
  font-family: 'Poppins', sans-serif;
  background-color: #49A078;
  color: white;
  border-radius: 1rem;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

@media (max-width: 600px) {
  nav {
    font-size: 1.2rem;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: start;
      align-self: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul .logo {
  margin-right: auto;
}

nav ul .logo__svg {
  height: 1.9rem;
}

@media (max-width: 600px) {
  nav ul .logo__svg {
    height: 1.2rem;
  }
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul li:not(:last-child) {
  padding-right: 1rem;
}

@media (max-width: 600px) {
  nav ul li:not(:last-child) {
    padding-right: .5rem;
  }
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited,
nav ul li a:link:visited {
  text-decoration: none;
  color: black;
}

nav ul li a:hover,
nav ul li a:link:hover,
nav ul li a:visited:hover,
nav ul li a:link:visited:hover {
  color: #EF233C;
}

.container {
  padding: 2rem;
}

.container main {
  padding: 1rem 10vw;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Open-Sans', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 600px) {
  .container main {
    padding: 1rem 1vw;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.container main .first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  padding: 12rem;
  margin: 1vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .container main .first-content {
    padding: 4rem;
  }
}

.container main .first-content h2 {
  font-family: 'Lato', sans-serif;
  font-size: 4.883rem;
  color: #404040;
}

@media (max-width: 600px) {
  .container main .first-content h2 {
    font-size: 3.662rem;
  }
}

.container main .first-content h3 {
  font-family: 'Lato', sans-serif;
  font-size: 3.906rem;
  color: #404040;
}

@media (max-width: 600px) {
  .container main .first-content h3 {
    font-size: 2.93rem;
  }
}

.container main .first-content h4 {
  font-family: 'Lato', sans-serif;
  font-size: 3.125;
  color: #404040;
}

@media (max-width: 600px) {
  .container main .first-content h4 {
    font-size: 2.344rem;
  }
}

.container main .first-content h5 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5;
  color: #404040;
}

@media (max-width: 600px) {
  .container main .first-content h5 {
    font-size: 1.875rem;
  }
}

.container main .first-content p {
  color: #2C2C2C;
  text-align: left;
  word-wrap: wrap;
}

@media (max-width: 600px) {
  .container main .first-content p {
    font-size: 1.5rem;
  }
}

.container main .first-content p:not(:last-child) {
  padding: 1rem 0;
}
/*# sourceMappingURL=main.css.map */