.button {
    border-radius: .4rem;
    font-size: 1.8rem;
    padding: .6rem .7rem;
    background-color: $red-primary;
    color: white;
    border: none;
    transition: all .3s;

    &:hover {
        background-color: $blue-primary-dark;
    }

    a,
    a:link,
    a:active,
    a:visited {
        text-decoration: none;
        font-weight: 300;
        color: white;
    }

    &:focus {
        outline: none;
    }

}

.button-back {
    margin-top: 1rem;
}