.button {
    border-radius: .4rem;
    font-size: 1.6rem;
    padding: .4rem .5rem;

    // background-color: #E8E288;

    a,
    a:link,
    a:active,
    a:visited {
        text-decoration: none;
        font-weight: 300;
        color: black;

        &:hover {
            color: $red-primary-dark;
        }

    }

    &:focus {
        outline: none;
    }


}