.jumbotron {
    @include flexcenter;

    margin: 2vh 0;
    padding: 5vh 10vw;
    width: 100%;
    line-height: 1.5;

    font-family: 'Lato', sans-serif;
    font-size: 4.883rem;
    // background-color: #457B9D;
    border-radius: 1rem;

    @include respond(phone) {
        font-size: 3.662rem;
        padding: 1rem 5vw;
        margin: 1vh 0;
      }

    &__text {
        @include flexcenter;
        padding: 0 3vh;
        width: 100%;
        min-height: 20rem;
        font-family: 'Poppins', sans-serif;
        border: .2rem black solid;
        border-radius: 1rem;

        @include respond(phone) {
          min-height: 10rem;
        }
    }
}

// @media (prefers-color-scheme: dark) {
//   .jumbotron {
//     border: .3rem white solid;
//   }
// }