* {
  margin: 0;
  padding: 0;
}

/* We select pseudo elements here because "*" only affects real elements.  */
*,
*::after,
*::before {
  /* Make box-sizing inheritable by all elements and make it border-box to be inherited by all elements in the body */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  justify-items: left;
  width: 100%;
  font: 2rem Raleway, sans-serif;
}

@media (max-width: 600px) {
  .navigation {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navigation ul {
  width: 100%;
}

@media (max-width: 600px) {
  .navigation ul {
    margin-bottom: -.5rem;
  }
}

.navigation ul .logo {
  font-size: 3.5rem;
  font-family: 'Monoton', cursive;
  color: #E3504B;
}

.navigation ul li {
  display: inline-block;
  font-weight: 500;
  list-style: none;
  padding-left: 1rem;
}

@media (max-width: 600px) {
  .navigation ul li {
    padding-left: 0;
  }
}

.navigation ul li:hover {
  color: #FF6961;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation ul li:first-child {
  padding-left: 2rem;
  padding-right: .1em;
}

@media (max-width: 600px) {
  .navigation ul li:first-child {
    padding-left: .5rem;
  }
}

.navigation ul li:last-child {
  float: right;
  padding-right: 1rem;
}

@media (max-width: 600px) {
  .navigation ul li:last-child {
    padding-right: .5rem;
  }
}

.navigation ul li a {
  text-decoration: none;
  color: #FF6961;
}

.navigation ul li a:hover {
  color: #E3504B;
}

.navigation ul li a i {
  color: #E3504B;
  font-size: 2.5rem;
  padding-right: 1rem;
  padding-top: 1.9rem;
}

@media (max-width: 600px) {
  .navigation ul li a i {
    padding-right: .1rem;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'navigation navigation' 'main main';
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navigation;
  min-height: 6vh;
}

.voc__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  height: 94vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vw 88vw;
      grid-template-columns: 12vw 88vw;
  border-top: #121212 dashed 0.1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

.voc__main__sidebar {
  min-width: 100%;
  min-height: 100%;
  background-color: #FF6961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4.5rem;
}

.voc__main__sidebar__categories {
  list-style: none;
}

.voc__main__sidebar__categories > li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fffeff;
  cursor: pointer;
}

.voc__main__sidebar__categories > li:first-child {
  padding-top: 2rem;
}

.voc__main__stage {
  width: 100%;
  height: 100%;
  background-color: #F5F749;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 30% 30% 30%;
      grid-template-rows: 10% 30% 30% 30%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
}

.voc__main__stage #itemNumbers {
  background-color: #4ce64c;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voc__main__stage #itemNumbers > #numbersArea > span:not(:first-child) {
  margin-left: 4rem;
}

.voc__main__stage #itemNumbers #numbersArea {
  line-height: 6rem;
}

.voc__main__stage #itemNumbers #numbersArea span {
  cursor: pointer;
}

.voc__main__stage #itemNumbers #numbersArea span:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fffeff;
  font-size: 6rem;
}

.voc__main__stage #itemNumbers #numbersArea span:not(:hover) {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.voc__main__stage #itemWord {
  background-color: #fbff00;
  width: 100%;
  height: 100%;
  padding: 0% 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 6rem;
}

.voc__main__stage #itemDefinition {
  background-color: #38e079;
  width: 100%;
  height: 100%;
  padding: 0% 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.voc__main__stage #itemSample {
  background-color: #02b8d8;
  width: 100%;
  height: 100%;
  padding: 0% 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}
/*# sourceMappingURL=vocabulary_train.css.map */