#contact {
    h3 {
        a,
        a:link,
        a:visited {

            color: $red-primary-dark;

            &:hover {
                color: $blue-primary-dark;
            }
        }
    }
}

@media (prefers-color-scheme:dark) {
    #contact {
        h3 {
            a,
            a:link,
            a:visited {
                color: whitesmoke;
            }
        }
    }
}